<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="/src/visor-movimientos/visor-movimientos.html">
<link rel="import" href="/bower_components/app-router/app-router.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/src/visor-usuario/visor-usuario.html">


<dom-module id="visor-crear">
  <template>
  <style>
  :host {
    display: block;
  }
  </style>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/src/login-logout/estilo.css">
  <div hidden={{!visible1}}>
      <visor-usuario id="usuario"></visor-usuario>
  </div>
 <div hidden={{visible1}}>
    <div id="Contenedor2">
      <div class="Icon">
        <h1 style="color:#004581">Crear Tarjeta</h1>
      </div>
      <div class="ContentForm">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-credit-card"></i></span>
          <select class="form-control" value="{{type::input}}" id="Type" aria-describedby="sizing-addon1" required>
           <option selected>Tipo de Tarjeta</option>
            <option value="Visa Clásica">Visa Clásica</option>
            <option value="Mastercard Black">Mastercard Black</option>
            <option value="Visa Oro">Visa Oro</option>
            <option value="Mastercard Platinum">Mastercard Platinum</option>
          </select>
        </div>
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-usd"></i></span>
          <input type="number" class="form-control" name="cupo" placeholder="Cupo" id="Cupo" value="{{available::input}}" aria-describedby="sizing-addon1" required>
        </div>
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1" aria-describedby="sizing-addon1">Fecha de Expiración</span>
          </div>
          <div class="input-group input-group-lg" id="fechae">
            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-calendar"></i></span>
            <select class="form-control" value="{{month::input}}" id="Month" aria-describedby="fechae" required>
              <option selected>MM</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
            <select class="form-control"  value="{{year::input}}" id="Year" aria-describedby="fechae" required>
             <option selected>AA</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
            </select>
          </div>
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock">&nbsp;&nbsp;Asignar Clave</i></span>
            <input type="password" name="contra" pattern ="[0-9]" class="form-control" value="{{password::input}}" id="Password" placeholder="***" min="3" max="3" aria-describedby="fechae" required>

          </div>
          <br>
          <button class="btn btn-lg btn-primary btn-block btn-signin" id="CrearUsuario" on-click="crear">Crear Tarjeta</button>
    <!--        <button class="btn btn-sm btn-link btn-block btn-signin" id="crearusuario" on-click="signin">Sign in</button> -->
    <!--        <div class="opcioncontra"><a href="">Olvidaste tu contraseña?</a></div> -->
      </div>
    </div>
</div>
<iron-ajax
  id="doCrear"
  url="http://localhost:3000/bbvaweb/v/crear"
  content-type="application/json"
  method="POST"
  handle-as="json"
  on-response="manageAJAXResponse"
  on-error="showError">

</template>

<script>
class VisorCrear extends Polymer.Element {
  static get is() { return 'visor-crear'; }
  static get properties() {
    return {
      id: {
        type: Number
      },
      type: {
        type: String
      },
      available: {
        type: Number
      },
      month: {
        type: String
      },
      year: {
        type: String
      },
      password: {
        type: String
      },
      cardnumber: {
        type: Number
      },
      url: {
        type: String
      },
      visible1 :{
      type:Boolean,
      value:false
    }
    };
  }
  capturar(id){
    this.id=id;
    console.log(this.id);
  }
  crear() {
    switch(this.type) {
     case 'Visa Clásica':
      var url="https://www.bbva.com.co/content/dam/public-web/colombia/new-beginning/tarjetas-credito/visa-clasica.png.img.768.1559858836594.png"
      console.log(url);
     break;
     case 'Mastercard Black':
      var url="https://www.bbva.com.co/content/dam/public-web/colombia/new-beginning/tarjetas-credito/mastercard-black.png.img.768.1559860612544.png"
      console.log(url);
     break;
     case 'Visa Oro':
      var url="https://www.bbva.com.co/content/dam/public-web/colombia/new-beginning/tarjetas-credito/visa-oro.png.img.768.1559859021237.png"
      console.log(url);
     break;
     case 'Mastercard Platinum':
      var url="https://www.bbva.com.co/content/dam/public-web/colombia/new-beginning/tarjetas-credito/mastercard-platinum.png.img.768.1559857656490.png"
      console.log(url);
     break;
     default:
   }
   console.log(url);
    var crearData = {
      "id" : this.id,
      "type" : this.type,
      "available" : this.available,
      "month" : this.month,
      "year" : this.year,
      "password" : this.password,
      "cardnumber": "",
      "url": url
    };
//    var e = document.getElementById("Month");
//    var strUser = e.options[e.selectedIndex].value;
    console.log(crearData);
    this.$.doCrear.body = JSON.stringify(crearData);
    this.$.doCrear.generateRequest();
    console.log("Petición enviada");

  }

  manageAJAXResponse(data) {
    console.log("Recibida respuesta del servidor");
//    console.log(data.detail.response);
    this.isCrear = false;
    console.log("Aca");
    alert('Tarjeta Creada Correctamente');
    this.visible1=true;
    console.log(this.id);
//    this.dispatchEvent(new CustomEvent('crearok',{detail:{isCrear:this.isCrear,usuario:data.detail.response.id}}))
//    this.$.usuario.hideusuario()
//    var throwawayNode = d.removeChild(d_nested);
//    removeChild(visor-usuario);
    this.$.usuario.hideusuario();
    this.$.usuario.mostrarusuario(this.id);
  }

  showError(error) {
    console.log("Hubo un error");
    alert("Datos Ingresados Incorrectos Valide");
    console.log(error);
  }


}
window.customElements.define(VisorCrear.is, VisorCrear);
</script>
</dom-module>
