<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="/src/visor-movimientos/visor-movimientos.html">
<link rel="import" href="/bower_components/app-router/app-router.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">

<dom-module id="sign-in">
  <template>
  <style>
  :host {
    display: block;
  }
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/src/login-logout/estilo.css">


    <div id="Contenedor1">
      <div class="Icon">
        <h1 style="color:#004581">Creación de Usuario</h1>
      </div>
      <div class="ContentForm">
<!--        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-barcode"></i></span>
          <input type="number" min="1" max="5" class="form-control" name="id" placeholder="ID" id="Id" value="{{id::input}}" aria-describedby="sizing-addon1" required>
        </div>
-->
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-user"></i></span>
          <input type="text" class="form-control" name="nombre" placeholder="Nombre" id="Nombre" value="{{first_name::input}}" aria-describedby="sizing-addon1" required>
        </div>
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-user"></i></span>
          <input type="text" class="form-control" name="apellido" placeholder="Apellido" id="Apellido" value="{{last_name::input}}" aria-describedby="sizing-addon1" required>
        </div>
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="email" class="form-control" name="correo" placeholder="Correo" id="Correo" value="{{email::input}}" aria-describedby="sizing-addon1" required>
          </div>
          <br>
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" name="contra" class="form-control" value="{{password::input}}" placeholder="******" aria-describedby="sizing-addon1" required>
          </div>
          <br>
          <button class="btn btn-lg btn-primary btn-block btn-signin" id="CrearUsuario" on-click="signin">Crear Usuario</button>
    <!--        <button class="btn btn-sm btn-link btn-block btn-signin" id="crearusuario" on-click="signin">Sign in</button> -->
    <!--        <div class="opcioncontra"><a href="">Olvidaste tu contraseña?</a></div> -->
      </div>
    </div>

<iron-ajax
  id="doSignin"
  url="http://localhost:3000/bbvaweb/v/signin"
  content-type="application/json"
  method="POST"
  handle-as="json"
  on-response="manageAJAXResponse"
  on-error="showError">

</template>

<script>
class SignIn extends Polymer.Element {
  static get is() { return 'sign-in'; }
  static get properties() {
    return {
/**      id: {
        type: Number
      },
**/
      first_name: {
        type: String
      },
      last_name: {
        type: String
      },
      email: {
        type: String
      }, password: {
        type: String
      }, isSignged: {
        type: Boolean,
        value: false
      }
    };
  }
  signin() {
    var signinData = {
//      "id" : this.id,
      "first_name" : this.first_name,
      "last_name" : this.last_name,
      "email" : this.email,
      "password" : this.password
    };
    this.$.doSignin.body = JSON.stringify(signinData);
    this.$.doSignin.generateRequest();
    console.log("Petición enviada");
  }

  manageAJAXResponse(data1) {
    console.log("Recibida respuesta del servidor");
    console.log(data1.detail.response);
    this.isSignged = true;
    this.dispatchEvent(new CustomEvent('signinok',{detail:{isSignged:this.isSignged,usuario1:data1.detail.response.id}}))


  }

  showError(error) {
    console.log("Hubo un error");
    alert("Datos Ingresados Incorrectos Valide");
    console.log(error);
  }


}
window.customElements.define(SignIn.is, SignIn);
</script>
</dom-module>
