<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<dom-module id="login-usuario">
  <template>
  <style>
  :host {
    display: block;
  }
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/src/login-logout/estilo.css">

  <div id="Contenedor">
    <div class="Icon">
      <h1 style="color:#004581">BBVA WEB</h1>
    </div>
    <div class="ContentForm">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
          <input type="email" class="form-control" name="correo" placeholder="Correo" id="Correo" value="{{email::input}}" aria-describedby="sizing-addon1" required>
        </div>
        <br>
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" name="contra" class="form-control" value="{{password::input}}" placeholder="******" aria-describedby="sizing-addon1" required>
        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog" on-click="login">Login</button>
<!--        <button class="btn btn-sm btn-link btn-block btn-signin" id="crearusuario" on-click="signin">Sign in</button> -->
<!--        <div class="opcioncontra"><a href="">Olvidaste tu contraseña?</a></div> -->
    </div>
  </div>



<iron-ajax
  id="doLogin"
  url="http://localhost:3000/bbvaweb/v/login"
  content-type="application/json"
  crossDomain: true
  dataType: 'jsonp'
  method="POST"
  handle-as="json"
  headers="Access-Control-Allow-Headers: *"
  on-response="manageAJAXResponse"
  on-error="showError">

</template>

<script>
class LoginUsuario extends Polymer.Element {
  static get is() { return 'login-usuario'; }
  static get properties() {
    return {
      email: {
        type: String
      }, password: {
        type: String
      }, isLogged: {
        type: Boolean,
        value: false
      }
    };
  }
  signin(){
   this.dispatchEvent(new CustomEvent('signinok',{detail:{isLogged:this.isLogged,usuario:data.detail.response.id}}))
  }
  login() {
    var loginData = {
      "email" : this.email,
      "password" : this.password
    };
    console.log(this.email);
    this.$.doLogin.body = JSON.stringify(loginData);
    this.$.doLogin.generateRequest();
    console.log("Petición enviada");
  }

  manageAJAXResponse(data) {
    console.log("Recibida respuesta del servidor");
    console.log(data.detail.response);
    this.isLogged = true;
    this.dispatchEvent(new CustomEvent('loginok',{detail:{isLogged:this.isLogged,usuario:data.detail.response.id}}))

  }

  showError(error) {
    console.log("Hubo un error");
    alert("Datos Ingresados Incorrectos Valide");
    console.log(error);
  }


}
window.customElements.define(LoginUsuario.is, LoginUsuario);
</script>
</dom-module>
