<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <h2 class="col-md-12 text-white">Movimientos</h2>
     <table class="table table-bordered table-hover table-striped" style="background:#FFF;">
       <thead class="table">
         <tr>
           <th scope="col">No. movimiento</th>
           <th scope="col">No. Tarjeta</th>
           <th scope="col">Valor</th>
           <th scope="col">Fecha</th>
           <th scope="col">Descripcion</th>
         </tr>
       </thead>
       <template is="dom-repeat" id="accountsUser" items="{{movements}}">
         <tr>
           <td scope="row">{{item.movnumber}}</td>
           <td>{{item.cardnumber}}</td>
           <td>{{item.value}}</td>
           <td>{{item.timestamp}}</td>
           <td>{{item.description}}</td>
         </tr>
       </template>
     </table>
   <iron-ajax
    id="getMov"
    url="http://localhost:3000/bbvaweb/v/users/{{id}}/cards/'{{cardnumber}}'/movements"
    handle-as="json"
    on-response="showData"
    on-error="showError">

  </template>

  <script>

    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          movements: {
            type: Array
          },
          id: {
            type: String
          },
          cardnumber: {
            type: String
          }
        };
      }
      showData(data){
        console.log("Recibidos datos del usuario") ;
        console.log(data.detail.response);
        this.movements=data.detail.response;
      }
      consMov(data){
        //var data = {
        //  "id" : this.id,
          //"cardnumber": this.cardnumber
        //};
        this.id=data.id;
        console.log(data);
        this.cardnumber=data.cardnumber;
//        console.log(this.cardnumber);
        this.$.getMov.generateRequest();
      }
      showError(error) {
        alert("No existen movimientos  a listar");
        this.movements=[];
        console.log(error);
      }
    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
