<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/visor-movimientos/visor-movimientos.html">
<link rel="stylesheet" type="text/css" href="/src/login-logout/estilo.css">
<link rel="import" href="/src/visor-avances/visor-avances.html">
<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <h2 class="col-md-12 text-white">Mis Tarjetas</h2>
     <table class="table table-bordered table-hover table-striped" style="background:#FFF";>
       <thead class="table">
         <tr>
           <th scope="col">Tarjetas de Crédito</th>
           <th scope="col"></th>
           <th scope="col">Número Tarjeta</th>
           <th scope="col">Cupo</th>
           <th scope="col" align="center">Consultas</th>
           <th scope="col" align="center">Operaciones</th>
         </tr>
       </thead>
       <template is="dom-repeat" id="accountsUser" items="{{accounts}}">
         <tr style="vertical-align: middle;line-height: 70px">
           <td class"col-md-12 text-white" scope="row" align="center" style="line-height: 70px" >{{item.type}}</td>
           <td align="center">
             <img src={{item.url}} width="120px" style="align: center">
           </td>
           <td style="line-height: 70px">{{item.cardnumber}}</td>
           <td style="line-height: 70px">$&nbsp;{{item.available}}</td>
           <td>
             <a class="btn btn-primary btn-lg" on-click="vermov">Ver movimientos</a>
           </td>
           <td>
             <a class="btn btn-primary btn-lg" on-click="avance">Realizar Avance</a>
           </td>
         </tr>
       </template>
     </table>
     <iron-pages selected=[[page]] attr-for-selected="page">

       <visor-movimientos id="movimientos" page="movimientos"></visor-movimientos>
     </iron-pages>
     <iron-pages selected=[[page]] attr-for-selected="page">

       <visor-avances id="avances" page="avances"></visor-avances>
     </iron-pages>
   <iron-ajax
    id="getAccounts"
    url="http://localhost:3000/bbvaweb/v/users/{{id}}/accounts"
    handle-as="json"
    on-response="showData"
    on-error="showError">
  </template>
  <script>

    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          accounts: {
            type: Array
          },
          id: {
            type: String
          },
          page: {
            type: String
          },
          url: {
            type: String
          },
          cardnumber: {
            type: Number
          }
        };
      }
      showData(data){
        console.log("Recibidos datos del usuario") ;
        console.log(data.detail.response);
        this.accounts=data.detail.response;
//        console.log(this.accounts.type);
      }
      consCuentas(id){
        this.id=id;
        console.log(this.id);
        this.$.getAccounts.generateRequest();
      }
      showError(error) {
        alert("Cliente sin Tarjetas, puedes adquirir una pulsando el boton Adquiir Tarjeta de Crédito Online");
        this.accounts=[];
        console.log(error);
      }
      vermov(e){
        var data ={
          id:this.id,
          cardnumber:e.model.__data.item.cardnumber
        }
        console.log(data);
        this.$.movimientos.consMov(data);
        this.page="movimientos"
      }
      avance(e){
        var data ={
          id:this.id,
          cardnumber:e.model.__data.item.cardnumber
        }
        this.$.avances.dummy(data);
        this.page="avances"
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
