<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="/src/visor-movimientos/visor-movimientos.html">
<link rel="import" href="/bower_components/app-router/app-router.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/src/visor-usuario/visor-usuario.html">


<dom-module id="visor-avances">
  <template>
  <style>
  :host {
    display: block;
  }
  </style>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/src/login-logout/estilo.css">
  <div hidden={{visible}}>
   <div id="Contenedor3">
    <div class="Icon">
      <h1 style="color:#004581; font-size: x-large">Avance para la tarjeta No. {{cardnumber}}</h1>
    </div>
    <div class="ContentForm">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-usd"></i></span>
        <input type="number" class="form-control" name="monto" placeholder="Monto" id="Valor" value="{{value::input}}" aria-describedby="sizing-addon1" required>
      </div>
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
        <input type="text" class="form-control" name="description" placeholder="Descripción" id="Descripción" value="{{description::input}}" aria-describedby="sizing-addon1" required>
      </div>
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock">&nbsp;&nbsp;CVV</i></span>
        <input type="password" name="contra" pattern ="[0-9]" class="form-control" value="{{password::input}}" id="Password" placeholder="***" min="3" max="3" aria-describedby="fechae" required>
      </div>
        <button class="btn btn-lg btn-primary btn-block btn-signin" id="RealizarAvance" on-click="avanzar">Realizar Avance</button>
    </div>
   </div>
  </div>

<iron-ajax
  id="doAvanzar"
  url="http://localhost:3000/bbvaweb/v/avanzar"
  content-type="application/json"
  method="POST"
  handle-as="json"
  on-response="manageAJAXResponse"
  on-error="showError">
</template>

<script>
class VisorAvanzar extends Polymer.Element {
  static get is() { return 'visor-avances'; }
  static get properties() {
    return {
      id: {
        type: Number
      },
      cardnumber: {
        type: Number
      },
      value: {
        type: Number
      },
      password: {
        type: String
      },
      description: {
        type: String
      },
      timestamp: {
        type: String
      },
      movnumber: {
        type: String
      },
      visible :{
      type:Boolean,
      value:false
    }
    }
    };
  avanzar() {
    var crearData = {
      "id" : this.id,
      "cardnumber" : this.cardnumber,
      "value" : this.value,
      "password" : this.password,
      "description" : this.description,
      "movnumber" : 0,
      "timestamp" : ""
    };
    console.log(crearData);
    this.$.doAvanzar.body = JSON.stringify(crearData);
    this.$.doAvanzar.generateRequest();
    console.log("Petición enviada");
  }
 dummy(data){
   console.log("Hola");
   this.id=data.id;
   this.cardnumber=data.cardnumber;
   console.log(this.id + this.cardnumber);

 }
  manageAJAXResponse(data) {
    console.log("Recibida respuesta del servidor");
//    console.log(data.detail.response);
//    this.isCrear = false;
//    console.log("Aca");
    alert('Avance Realizado Correctamente');
    this.visible=true;
//    console.log(this.id);
//    this.dispatchEvent(new CustomEvent('crearok',{detail:{isCrear:this.isCrear,usuario:data.detail.response.id}}))
//    this.$.usuario.hideusuario()
//    var throwawayNode = d.removeChild(d_nested);
//    removeChild(visor-usuario);
//    this.$.usuario.hideusuario();
//    this.$.usuario.mostrarusuario(this.id);
  }

  showError(error) {
    console.log("Hubo un error");
    alert("Datos Ingresados Incorrectos Valide");
    console.log(error);
  }


}
window.customElements.define(VisorAvanzar.is, VisorAvanzar);
</script>
</dom-module>
