<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/visor-usuario/visor-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="/src/visor-crear/visor-crear.html">
<link rel="import" href="/src/login-logout/login-logout.html">
<link rel="import" href="/src/signin/signin.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<dom-module id="controlador-padre">
  <template>
    <style>
      :host {
        display: block;
      }
      button {
        width: 110px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
        margin-left: 50%;
        transform: translateX(-50%);
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 6px;
      }
    </style>
    <div hidden={{visible}}>
      <div hidden={{!visible1}}>
        <login-usuario id="login"></login-usuario>
        <button class="btn btn-lg btn-primary btn-block btn-signin" id="crearusuario" on-click="signin">Sign in</button>
      </div>
      <div hidden={{visible1}}>
        <sign-in id="signin"></sign-in>
      </div>

    </div>
    <div hidden={{!visible}}>
        <visor-usuario id="usuario"></visor-usuario>
    </div>
  </template>
  <script>

    /**
     * @customElement
     * @polymer
     */
    class ControladorPadre extends Polymer.Element {
      static get is() { return 'controlador-padre'; }
      ready(){
//        debugger;
        super.ready()
        this.$.login.addEventListener('loginok',e =>{this.procesarLogin(e)});
        this.$.signin.addEventListener('signinok',e =>{this.procesarSignin(e)});
//        this.$.crear.addEventListener('crearok',e =>{this.procesarCrear(e)});
//        window.addEventListener('keyup', this.teclaPulsada.bind(this));
      }
      static get properties() {
        return {
          visible :{
          type:Boolean,
          value:false
        },
          visible1 :{
          type:Boolean,
          value:true
        }
      };
    };
      signin() {
        this.visible1=false;
        console.log("Petición enviada");
      }
    procesarLogin(e){
        console.log("soy tu padre: "+ JSON.stringify(e.detail))
        this.visible=e.detail.isLogged;
        console.log(this.visible);
        this.$.usuario.mostrarusuario(e.detail.usuario)
    }
    procesarSignin(e){
        console.log("soy tu padre: ");
        alert('Usuario Creado Correctamente');
        this.visible1=true;
    }
    procesarCrear(e){
        console.log("soy tu padre: ");
        alert('Tarjeta Creada Correctamente');
        this.visible=false;
        console.log(this.visible);
        this.removeEventListener('crearok',e =>{this.procesarCrear(e)});
    }

/**
    procesarCrear(e){
        console.log("soy tu padre: ");
        alert('Tarjeta Creada Correctamente');
        this.visible=true;
    }
**/
    }

    window.customElements.define(ControladorPadre.is, ControladorPadre);
  </script>
</dom-module>
